body {
    background-color: black;
}

.sassmine {
    font-size: 15px;
}
.sassmineHide {
    display: none;
}

.sassmineSuite {
    border-left: 1px solid #7a7;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-top: 8px;
    margin-left: 10px;
    margin-top: 10px;

    font-family: courier new;
    font-weight: bolder;
    color: #7a7;
}
.sassmineSpec {
    padding-left: 10px;
    margin: 3px;

    font-weight: normal;
    font-size: 13px;
    color: #7a7;
}

.sassmineFailed {
    border-color: #f44;
    font-weight: bold;
    color: #f44;
}
.sassmineErrorMessages {
    font-weight: normal;
    padding-left: 15px;
}
